.input-groupL label {
    display: block;
    color: #FFFF;
    margin-bottom: 10px;
}

.input-groupL input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: #ffffff;
    padding: 0.75rem 1rem;
}

.titleL {
    text-align: center;
}

button {
    width: 105px;
    height: 38px;
    margin-left: 10px;
    justify-items: center;
    text-align: center;
    color: #ffff;
    background-color: #F33A6A;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.500) 1px 5px 5px 0px;
    display: flex;
    /* Adiciona Flexbox */
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
    cursor: pointer;
    overflow: hidden;
    font-family: 'Montserrat';
    font-weight: 700;
    margin-left: 84px;
}

button[type="submit"]:active {
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0.500) 0px 0px 0px 0px;
}

.radios {
    margin-bottom: 10px;
    position: relative;
    top: 10px;
}

.forgot-password {
    font-size: 12px;
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
    position: relative;
    left: 29px;
    top: -29px;
    color: #ffffff;
}

.forgot-password:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #D9D9D9;
}

a:-webkit-any-link {
    color: #FFFF;
    cursor: pointer;
    text-decoration: none;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup-text a {
    color: #F33A6A;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

form.form-containerL {
    position: relative;
    right: 8px;
    width: 288px;
    height: 366px;
}