body {
    background-color: #00127f;
    color: white;
    font-family: Arial, sans-serif;
}

.edit-profile-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #013bca;
    border-radius: 8px;
    margin-top: 20vh;
}

.edit-profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-section {
    grid-column: span 2;
    background-color: #0157e7;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.course-section {
    background-color: #0174f7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-section h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

.enviar,
button[type="button"] {
    grid-column: span 2;
    background-color: #ff0043;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enviar:hover,
button[type="button"]:hover {
    background-color: #cc0037;
}